@(params: Map[String, String])

@import scala.concurrent.Future

<!DOCTYPE html>

<html>
    <head>
        <title>Request Token</title>
    </head>
    <body>
        <form action="request-token">
        <h1>Request Token call</h1>
        <table>
            <tr>
                <td>Method:</td>
                <td><input name="method" value="POST" disabled/></td>
            </tr>
            <tr>
                <td>Url:</td>
                <td><input name="url" value=""/></td>
            </tr>
            <tr>
                <td>Consumer Key:</td>
                <td><input name="consumer-key" value=""/></td>
            </tr>
            <tr>
                <td>Consumer Secret:</td>
                <td><input name="consumer-secret" value=""/></td>
            </tr>
            <tr>
                <td>Timestamp:</td>
                <td><input name="timestamp" value="" disabled/></td>
            </tr>
            <tr>
                <td>Nonce:</td>
                <td><input name="nonce" value="@params.applyOrElse("oauth_nonce", (s: String) => "")" disabled/></td>
            </tr>
            <tr>
                <td>Version:</td>
                <td><input name="version" value="1.0" disabled/></td>
            </tr>
        </table>
        @*<p>HTTP POST request body parameters:</p>*@
        @*<ol>*@
            @*<input name="post-0" value=""/>*@
            @*<input name="post-1" value=""/>*@
            @*<input name="post-2" value=""/>*@
        @*</ol>*@
        <p><input type="submit" name="consumer-key" value="Submit"/></p>
        </form>
    </body>
</html>
