@(filledForm: Form[com.hunorkovacs.koauth.domain.KoauthRequest])(signatureBase: String, header: String)

@import com.hunorkovacs.koauth.domain.OauthParams._
@import views.html.helper

<!DOCTYPE html>

<html>
    <head>
        <title>Request Token</title>
        <link rel="stylesheet" href="assets/stylesheets/main.css">
    </head>
    <body>
        @helper.form(action = routes.Application.requestTokenPost) {
            <table>
                <tr>
                    <td>Method:</td>
                    <td><input type="text" name="method" value="@filledForm("method").value" readonly></td>
                </tr>
                <tr>
                    <td>URL:</td>
                    <td><input type="text" name="url" value="@filledForm("url").value"></td>
                </tr>
                <tr>
                    <td>Consumer Key:</td>
                    <td><input type="text" name="@consumerKeyName" value="@filledForm(consumerKeyName).value"></td>
                </tr>
                <tr>
                    <td>Consumer Secret:</td>
                    <td><input type="text" name="@consumerSecretName" value="@filledForm(consumerSecretName).value"></td>
                </tr>
                <tr>
                    <td>Signature Method:</td>
                    <td><input type="text" name="@signatureMethodName" value="@filledForm(signatureMethodName).value"
                    readonly></td>
                </tr>
                <tr>
                    <td>Signature Method:</td>
                    <td><input type="text" name="@timestampName" value="@filledForm(timestampName).value" readonly></td>
                </tr>
                <tr>
                    <td>Nonce:</td>
                    <td><input type="text" name="@nonceName" value="@filledForm(nonceName).value" readonly></td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td><input type="text" name="@versionName" value="@filledForm(versionName).value" readonly></td>
                </tr>
                <tr>
                    <td>Callback:</td>
                    <td><input type="text" name="@callbackName" value="@filledForm(callbackName).value"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit"></td>
                </tr>
                <tr>
                    <td>Signature Base:</td>
                    <td class="console"><textarea readonly >@signatureBase</textarea></td>
                </tr>
                <tr>
                    <td>Authorization Header:</td>
                    <td class="console"><textarea readonly >@header</textarea></td>
                </tr>
            </table>
        }
    </body>
</html>
