@(filledForm: Form[com.hunorkovacs.koauth.domain.Request])(header: String)

@import com.hunorkovacs.koauth.domain.OauthParams._
@import com.hunorkovacs.koauth.domain.Request
@import views.html.helper
@import controllers.Application.requestTokenForm

<!DOCTYPE html>

<html>
    <head>
        <title>Request Token</title>
    </head>
    <body>
        @helper.form(action = routes.Application.requestTokenPost) {

            @helper.inputText(filledForm("method"))
            @helper.inputText(filledForm("url"))
            @helper.inputText(filledForm(consumerKeyName))
            @helper.inputText(filledForm(consumerSecretName))
            @helper.input(filledForm("submit")) { (id, name, value, args) =>
                <input type="submit" name="submit" id="submit" @toHtmlArgs(args)>
            }
        }
        <p>header: @header</p>
    </body>
</html>
